.planner-date {
    display: flex;
    min-height: 50px;
    margin: 1em 0;

    .date {
        padding: .5em;
        width: 15%;
        background: #d5eff6;
        text-align: center;

        .day-of-week {
            font-weight: bold;
        }

        .full-date {
            font-size: .7em;
        }
    }

}

